*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #58585a;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
}
a{
    text-decoration: none;
    color: #337ab7;
    transition: all .3s;
}
.img-fluid{
    width: 100%;
}

/**HEADER CSS**/
.site_header {
    display: initial;
}
.logo_holder {
    position: absolute;
    top: 35px;
    left: 50%;
    z-index: 111;
    transform: translate(-50%,0);
    width: auto;
}
.navbar-brand {
    margin: 0;
}
.navbar.bg-dark {
    background: #87085f !important;
    padding: 0;
}
.navbar.bg-dark .navbar-nav .nav-link {
    font-size: 18px;
    padding: 30px 16px;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: .10px;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar.bg-light.bg-white {
    background: #fff !important;
}
.navbar.nav_fix {
    position: fixed;
    top: 0;
    z-index: 1111;
    left: 0;
    width: 100%;
    transition: all .3s;
}
.nav_fix .navbar-collapse.justify-content-center, .inner_page .navbar-collapse.justify-content-center {
    justify-content: flex-end !important;
}
.navbar .navbar-brand {
    display: none;
}

.navbar.nav_fix .navbar-brand, .inner_page .navbar .navbar-brand {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}

.navbar.nav_fix .navbar-brand img {
    width: 130px;
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: transparent;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/**SLIDE NAV CSS**/
.menu-hide {
    width: 250px;
    right: -250px;
    height: 100vh;
    position: fixed;
    z-index: 1111111;
    top: 0px;
    transition: all .6s ease-in-out;
    padding: 15px;
    color: #fff;
    overflow: auto;
}
.menu-hide.show {
    right: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .6s ease-in-out;
}
.menu-close {
    color: #87085f;
    background: none;
    border: none;
    font-size: 24px;
}
.menu-hide ul{
    list-style: none;
    padding: 0;
}
.menu-buttons a {
    color: #fff;
    background: #693b52;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border-radius: 25px;
    text-align: center;
}
.menu-items .menu-link {
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    display: block;
    margin: 3px 0;
    padding: 5px;
}
.menu-contact-info a {
    color: #fff;
}
ul.menu-social li {
    display: inline-block;
}
ul.menu-social li i {
    background: none;
    color: #fff;
    padding: 2px 4px;
    margin-right: 2px;
    margin-top: 20px;
    font-size: 20px;
}
/**SLIDER CSS*/

.bb-custom-side img {
    width: 100%;
}
.container.home_slide {
    max-width: 100%;
    padding: 0;
}
.bb-custom-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
/*.bb-custom-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 111;
}*/
.slider_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1111;
    color: #fff;
    transform: translate(-50%,-50%);
    background: rgba(135,8,95,.4);
    padding: 25px 60px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    display: none;
}

.bb-custom-wrapper .bb-bookblock {
    width: 100%;
    height: 100%;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.bb-custom-side {
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
    background: #fff;
    /* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.bb-custom-wrapper > nav a {
    display: inline-block;
    text-align: center;
    color: #fff;
}
.bb-custom-icon {
    position: absolute;
    z-index: 111;
    top: 50%;
    font-size: 48px;
    opacity: 1;
    transform: translate(0,-50%);
}

#bb-nav-prev.bb-custom-icon {
    left: 100px;
}

#bb-nav-next.bb-custom-icon {
    right: 100px;
}
.bb-custom-wrapper > nav a:hover {
    opacity: 0.6;
}


/**SECTION CSS**/
.section_holder {
    padding: 50px 0 0;
    text-align: center;
}

.section_title {
    color: #333;
    font-size: 25px;
    font-weight: 300;
    line-height: 36px;
    position: relative;
    text-transform: capitalize;
}
.section_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 21px;
    background: url(../img/title-style-icon.png) no-repeat center;top: 100%;left: 0;
}

.section_title_holder {
    padding-bottom: 50px;
}
.section_title_holder i {
    font-size: 40px;
    padding-top: 50px;
    color: #8c8c8c;
}
.section_text {
    margin: 0;
    padding: 0 0 50px;
}
.style_button {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 50px;
    background: #693b52;
    color: #fff;
}
.style_button:hover {
    color: #fff;
}
/**BOX CONTENT CSS**/
.box_content_holder {
    box-shadow: 0 0 10px 0 rgb(221 221 221 / 75%);
    min-height: 780px;
}

.box_content_area {
    text-align: center;
    padding: 30px;
}

.box_title {
    font-size: 25px;
    font-weight: 300;
    color: #333;
    line-height: 36px;
    margin-bottom: 30px;
}

.box_title span {
    font-size: 14px;
    color: #bbbbbb;
    letter-spacing: 1px;
    display: block;
    position: relative;
    text-transform: uppercase;
}

.box_title span::after {
    content: "";
    position: absolute;
    width: 33%;height: 1px;
    background: #333;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.box_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box_content {
    line-height: 30px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 500;
}
.contact_info a {
    color: #333;
}
.contact_info .contact_btn {
    margin-top: 10px;
}
.contact_info .contact_btn a {
    background: #87085f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}
.contact_info .color_link a {
    color: #87085f;
}

.social_links a {
    font-size: 18px;
    padding: 20px 10px 0;
    display: inline-block;
}
.service_list {
    text-align: left;
}

.service_list li {
    width: 50%;
    float: left;
    padding-right: 5px;
}

/** PORTFOLIO CSS**/
.portfolio_image img {
    border: 10px solid #eee;
    transition: linear .5s;
}

.portfolio_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.55);
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    width: 60%;
    transition: linear .5s;
}

.portfolio_holder {
    position: relative;
    margin-bottom: 30px;
}

.portfolio_info h3 {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.portfolio_holder:hover .portfolio_image img{
    border-color: #87085f;
}
.portfolio_holder:hover .portfolio_info {
    background: rgba(135,8,95,.75);
}
.section_holder.about_sec {
    padding: 20px 0 0;
}
.about_sec .section_text{
    padding: 0;
}
/** TESTIMONIALS CSS **/
.testimonials_slider p {
    color: #333333;
}
.testimonials_slider p.author_info{
    color: #87085f;
}
.slick-dots li button {
    width: 20px;
    height: 20px;
    padding: 0;
    background: #8c8c8c;
    border-radius: 50%;
    margin: 0;
}
.slick-dots li button:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #87085f;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 0;
}
.slick-dots li.slick-active button:hover:before, .slick-dots li.slick-active button:focus:before {
    opacity: 1;
}

.slick-dots li.slick-active button {
    background: #fff;
    border: 3px solid #87085f;
}
.slick-dots li {
    width: auto;
    height: auto;
}
/** FOOTER CSS **/
.footer_sction {
    background: #000;
    padding: 70px 0 30px;
    margin-top: 50px;
    color: #fff;
}
.footer_widget_content a {
    color: #aaa;
    transition: all .5s;
    font-weight: 400;
    display: block;
    padding: 5px 0;
}
.footer_widget_content a:hover{
    color: #fff;
}
.footer_social a {
    color: #aaa;
    font-size: 25px;
    padding: 0 10px;
    display: inline-block;
    transition: all .5s;
}
.footer_social a:hover {
    color: #87085f;
}
.footer_widget_title {
    position: relative;
    /* border-bottom: 1px solid #322f2f; */
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.footer_widget_title::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    background: #87085f;
    left: 0;
    TOP: 100%;
    margin-top: -1px;
}
.footer_widget_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.copyright {
    padding: 50px 0 0;
    border-top: 1px solid #333;
    margin-top: 70px;
}
.copyright_right {
    text-align: right;
}
.copyright_right a {
    color: #fd46c5;
}

/** INNER PAGE CSS **/
.page_header {
    text-align: center;
    padding: 50px;
    background: #fafafa;
}
.breadcrumb ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
}

.breadcrumb ul li {
    display: inline-block;
    padding: 0 5px;
}

.breadcrumb ul li a {
    color: #000;
}
.breadcrumb ul li a i {
    margin-left: 10px;
}
.breadcrumb ul li span {
    color: #87085f;
}

/** PORTFOLIO LIGHTBOX CSS **/
#gallery {
  padding-top: 40px;
}

.img-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
}
.img-overlay {
  background: rgb(135, 8, 95, 75%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
    color: #fff;
    font-size: 3em;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none; 
}
#overlay img {
    margin: 0;
    width: 55%;
    height: auto;
    object-fit: contain;
    padding: 5%;
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
    opacity: 0.7;
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton :hover {
    opacity: 0.7;
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
    opacity: 0.7;
}
.testimonials_holder .img-wrapper {
    border: 1px solid #ddd;
    max-height: 210px;
    min-height: 210px;
    overflow: hidden;
    cursor: pointer;
}
.testimonials_holder #overlay img {
    width: auto;
    height: 100%;
}
.video_holder iframe {
    border: 0;
    width: 720px;
    height: 405px;
}
.video_holder .video_play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(135, 8, 95, .7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}
.video_holder .img-wrapper h3 {
    font-size: 18px;
    color: #87085f;
    text-align: center;
    background: #87085f;
    color: #fff;
    padding: 15px;
}
.video_holder .img-wrapper a {
    position: relative;
}
.video_holder .img-overlay{
    background: none;
    cursor: pointer;
}
.video_holder #prevButton, .video_holder #nextButton {
    display: none;
}
/** RESPONSIVE CSS **/
@media only screen and (max-width: 1200px){
    .container.home_slide {
        height: 100vh;
    }
    .bb-custom-side img {
        width: auto;
        height: 100vh;
    }
    .box_content_holder {
        min-height: 680px;
    }
}
@media only screen and (max-width: 995px){
    .box_content {
        min-height: 260px;
    }
    #image-gallery .justify-content-center {
        justify-content: flex-start !important;
    }
    #overlay img {
        width: 85%;
    }
    .img-wrapper {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px){
    .container.home_slide {
        height: 100vh;
    }
    .bb-custom-side img {
        width: auto;
        height: 100vh;
    }
    .bb-custom-icon{
        font-size: 22px;
    }
    #bb-nav-prev.bb-custom-icon {
        left: 20px;
    }

    #bb-nav-next.bb-custom-icon {
        right: 20px;
    }
    .navbar-brand img {
        max-width: 150px;
    }
    .slider_caption {
        font-size: 22px;
        padding: 15px;
        width: 65%;
    }
    .contact_box {
        margin-bottom: 30px;
    }
    .service_list li {
        width: 100%;
    }
    .box_content {
        min-height: auto;
    }
    .contact_box {
        margin-bottom: 15px;
    }
    .copyright_right {
        text-align: left;
    }
    .footer_widget_content, .footer_widget_title {
        margin-bottom: 30px;
    }
    .box_content_holder {
        min-height: auto;
    }
    .video_holder iframe {
        width: 94%;
        height: 405px;
    }
}
@media only screen and (max-width: 570px){
    .portfolio_holder {
        margin-bottom: 15px;
    }
}

